<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><span id='time'></span><span id="userName"></span></h1>

    <script src="http://localhost:5000/static/prompt.js"></script>
    <script src="http://localhost:5000/static/date.js"></script>
</body>
</html>